.terminal-wrapper {
  border-radius: 10px;
  overflow: hidden;
  background-color: #1e1e1e; /* Terminal-like background */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 8px 8px; /* Rounded corners for the bottom */
  padding: 0px 0px 0px 2px;
  background-color: rgb(16, 20, 32);
}

@media screen and (max-width: 550px) {
  .terminal-wrapper {
    padding: 0px;
  }
}

@media screen and (max-width: 400px) {
  .terminal-wrapper {
    font-size: 12px !important; /* Adjust font size for smaller screens */
  }
}
