.animated-border-wrapper {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px;
  border-radius: 14px;
  z-index: 100000000;
  /* animation: animatedBorder 4s linear infinite; */
}

.animated-border-wrapper:hover {
  background: linear-gradient(120deg, #fbbf24, #60a5fa, #a78bfa);
  background-size: 300% 300%;
  animation: animatedBorder 4s linear infinite;
  padding: 2px;
}

@keyframes animatedBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.open-laptop-button {
  all: unset;
  display: block;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 12px;
  background: none;
  backdrop-filter: blur(8px);
  color: black;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.05em;
  font-style: normal;
  z-index: 100000000;
}

.animated-border-wrapper:hover  > .open-laptop-button {
    background: rgba(240, 240, 240, 0.95);
}