@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  width: 100svw;
  height: 100svh;
  margin: 0;
  padding: 0;
  /* position: fixed; */
  overflow: hidden;
  touch-action: none;
}
button {
  color: black;
}

body {
  font-family: inter;
  color: black;
  background: #f0f0f0;
  overflow: hidden;
  transition: background 1s ease-in-out;
}

body.dark-mode {
  background: linear-gradient(-30deg, rgb(4, 8, 46), rgb(25, 12, 2));
}

h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: 400;
  font-size: 8em;
  letter-spacing: -0.045em;
  white-space: nowrap;
}

* {
  /* overflow: auto; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Base styles */
.main-container {
  overflow: hidden;
  width: 100svw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
